.flexDiv{
    display: flex;
}

.AssignListItem {
    list-style: none;
}

.AssignListItem > li{
    padding-bottom: 25px;
}

.AssignDiv {
    max-height: 100vh;
    width: 50%;
    overflow: scroll;
}

.DataDiv{
    height: auto;
    width: 50%;
}

.PassengerGrid {
    height: 500px;
    width: 100%;
}