.flexDiv{
    display: flex;
}

.AssignListItem {
    list-style: none;
}

.AssignListItem > li{
    padding-bottom: 25px;
}

.AssignDiv {
    max-height: 100vh;
    width: 40%;
    overflow: scroll;
}

.DataDiv{
    height: auto;
    width: 60%;
}

.PassengerGrid {
    height: 250px;
    width: 100%;
}

.DriverHeader {
    background-color: antiquewhite;
}